@import "tailwindcss";

@theme {
  --color-brand-dark: #08594A;
  --color-brand-primary: #148C76;
  --color-brand-sand: #BFB093;
  --color-brand-black: #0D0D0D;
  --color-brand-grey: #736F68;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-aileron);
  --font-mono: var(--font-roboto-mono);
}
